---
import { services } from "../services";
---

<section id="services" class="center">
    <div class="flex flex-col items-center gap-4">
        <div class="w-[2px] h-10 bg-accent"/>
        <h2 class="font-bold text-sm">WHAT WE OFFER</h2>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 mt-14 sm:mt-20 gap-10 sm:gap-14 lg:gap-32">
        {services.map(service => (
            <div class="flex flex-col gap-5" id={service.id}>
                <h3 class="text-4xl font-stix">{service.title}</h3>
                <div class="w-1/3 h-[2px] bg-accent"/>
                {service.categories.map(category => (
                    <ul class="space-y-2">
                        {(category.title || category.description) && (
                            <li class="grid grid-cols-[1fr_auto] items-start gap-x-4">
                                {category.title && (
                                    <h4 class="font-bold text-xl leading-snug">{category.title}</h4>
                                )}
                                {category.description && (
                                    <p class="text-xs text-zinc-600 text-right leading-snug max-w-[14rem] break-words">
                                        {category.description}
                                    </p>
                                )}
                            </li>
                        )}
                        {category.service.map(service => (
                            <>
                                <li class="flex flex-col gap-0.5">
                                    <div class="flex flex-row gap-4 font-medium items-center whitespace-nowrap">
                                        <span>{service.name}</span>
                                        <div class="w-full h-[1px] bg-backgroundAlt"/>
                                        <span class="text-right">{service.price}</span>
                                    </div>
                                    {service.description && (
                                        <p class="text-sm text-zinc-600">{service.description}</p>
                                    )}
                                </li>
                                {service.options && <li class="font-medium">Chose From:</li> }
                                <li>
                                    <ol>
                                        {service.options && service.options.map(option => (
                                            <li class="list-disc list-inside">{option}</li>
                                        ))}
                                    </ol>
                                </li>
                            </>
                        ))}
                    </ul>
                ))}
            </div>
        ))}
    </div>
</section>